<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzSzGXONraPgC2pCuZ103FNLB4_ViHD6I</string>
	<key>GCM_SENDER_ID</key>
	<string>907995658754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoCurrency.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crypto-flutter-2b80c</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-flutter-2b80c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907995658754:ios:0f8894ef0d3b6c072ec51b</string>
</dict>
</plist>